{{!--Header Section--}}
<div class="hero is-small">
	<div class="hero-head">
		<a id="logout" class="has-text-light is-pulled-right">Logout</a>
	</div>

	<div class="hero-body">
		<h1 class="has-text-light is-size-2 title">mealCrave.</h1>
	</div>
</div>
</div>
{{!----}}

{{!--Main Content Section--}}
<div class="tile is-ancestor is-marginless">
	
	{{!--Forms and Buttons--}}
	<div class="tile is-8">
		
		{{!--Buttons shown on page load--}}
		<div id="initialButtons" class="field">
			<label class="label has-text-centered is-size-3">What would you like to do?</label>
			<div class="control buttons is-centered">
				<button id="openSearchForm" class="button is-link">Search for Dish</button>
				<button id="openCreateDishForm" class="button is-danger">Create New Dish</button>
			</div>
		</div>
		{{!----}}
		
		{{!--Dish search form--}}
		<form id="searchForm">
			<div class="is-clearfix">
				<a class="closeForm is-pulled-right">Close X</a>
			</div>

			<div class="field">
				<label class="label">What kind of meal are you craving?</label>
				<div class="control">
					<input id="searchTerm" class="input" type="text" placeholder="e.g. Chicken Caesar Salad">
				</div>
			</div>
			<div class="field">
				<div class="control">
					<button id="search" class="button is-link" type="button">Search</button>
				</div>
			</div>
		</form>
		{{!----}}
		
		{{!--Create dish form -> display:none on page load--}}
		<form id="createDishForm" method="POST" action="/api/addFood" enctype="multipart/form-data">
			<div class="is-clearfix">
				<a class="closeForm is-pulled-right">Close X</a>
			</div>

			<input id="userName" name="userName" type="hidden">
			{{!--<input id="locationCoordinates" name="locationCoordinates" type="hidden">--}} {{!--This may not be needed--}}


			<div class="field">
				<label class="label">Where are You?</label>
				<div class="control">
					<input id="createDishFormLocation" name="location" class="input" type="text" placeholder="Chili's">
				</div>
			</div>

			<div class="field">
				<label class="label">How much did your meal cost?</label>
				<div class="control">
					<input name="price" class="input" type="text" placeholder="15.75">
				</div>
			</div>

			<div class="field">
				<label class="label">What did you order off of the menu?</label>
				<div class="control">
					<input name="menuName" class="input" type="text" placeholder="Chicken Caesar Salad">
				</div>
			</div> 

			<div class="field">
				<label class="label">Do these apply?</label>
				<div class="control">
					<label class="checkbox"> 
						<input name="veg" type="checkbox">
						Vegetarian
					</label>
				</div>

				<div class="control">
					<label class="checkbox"> 
						<input name="gfree" type="checkbox">
						Gluten Free
					</label>
				</div>
			</div>

			{{!--We may not use "type"--}} {{!--
			<div class="field">--}} {{!-- <label class="label">Select a category that best fits your meal.</label>--}} {{!--
				<div class="control">--}} {{!-- <span class="select">--}}
			{{!--			<select>--}}
			{{!--				<option>Hamburger</option>--}}
			{{!--				<option>Salad</option>--}}
			{{!--			</select>--}}
			{{!--			</span>--}} {{!-- </div>--}} {{!--
			</div>--}}

			<div class="field">
				<label class="label">Upload a photo of your meal.</label>
				<div class="control">
					<div class="file is-primary">
						<label class="file-label">
    				<input name="photo" class="file-input" type="file" accept="image/*" capture>
    				<span class="file-cta">
      				<span class="file-icon">
        				<i class="fa fa-camera"></i>
    					</span>
      				<span class="file-label">Photo</span>
    				</span>
  					</label>
					</div>
				</div>
			</div>
			
			<div class="field">
				<div class="control">
					<button id="createDish" class="button is-danger" type="submit">Create</button>
				</div>
			</div>
		</form>
		{{!----}}
		
		{{!--Edit dish form -> display:none on page load--}}
		<form id="editDishForm" method="POST" action="/api/updateFood" enctype="multipart/form-data">
			<div class="is-clearfix">
				<a class="closeForm is-pulled-right">Close X</a>
			</div>
			
			<input name="userName" type="hidden">
			<input name="foodId" type="hidden">
			
			<div class="field">
				<label class="label">Is this the correct restaurant name?</label>
				<div class="control">
					<input id="editDishFormLocation" name="location" class="input" type="text" placeholder="Chili's">
				</div>
			</div>

			<div class="field">
				<label class="label">Is this the correct price of the meal?</label>
				<div class="control">
					<input name="price" class="input" type="text" placeholder="15.75">
				</div>
			</div>

			<div class="field">
				<label class="label">Need to change the name of the menu item you ordered?</label>
				<div class="control">
					<input name="menuName" class="input" type="text" placeholder="Chicken Caesar Salad">
				</div>
			</div> 

			<div class="field">
				<label class="label">Are these options correct?</label>
				<div class="control">
					<label class="checkbox"> 
						<input name="veg" type="checkbox">
						Vegetarian
					</label>
				</div>

				<div class="control">
					<label class="checkbox"> 
						<input name="gfree" type="checkbox">
						Gluten Free
					</label>
				</div>
			</div>

			{{!--We may not use "type"--}} {{!--
			<div class="field">--}} {{!-- <label class="label">Is this the correct meal category?</label>--}} {{!--
				<div class="control">--}} {{!-- <span class="select">--}}
			{{!--			<select>--}}
			{{!--				<option>Hamburger</option>--}}
			{{!--				<option>Salad</option>--}}
			{{!--			</select>--}}
			{{!--			</span>--}} {{!-- </div>--}} {{!--
			</div>--}}

			<div class="field">
				<label class="label">Want to upload a different photo?</label>
				<div class="control">
					<div class="file is-primary">
						<label class="file-label">
    				<input name="photo" class="file-input" type="file" accept="image/*" capture>
    				<span class="file-cta">
      				<span class="file-icon">
        				<i class="fa fa-camera"></i>
    					</span>
      				<span class="file-label">Photo</span>
    				</span>
  					</label>
					</div>
				</div>
			</div>
			
			<div class="field is-grouped">
				<div class="control">
					<button id="editDish" class="button is-danger" type="submit">Revise</button>
				</div>
				<div class="control">
					<button form="deleteDishForm" id="deleteDish" class="button is-dark" type="submit">Delete</button>
				</div>
			</div>
		</form>
		{{!----}}
		
		<form id="deleteDishForm" method="POST" action="/api/deleteFood">
			<input name="userName" type="hidden">
			<input name="foodId" type="hidden">
		</form>
		
		
	</div>
	{{!--End Forms and Buttons--}}
	
	{{!--User Dish Display--}}
	<div id="userDishes">
		<div class="tile">
			<div class="tile is-parent is-vertical">
				<div class="tile is-child has-text-centered">
					<p class="title">Your Dishes</p>
					<p class="subtitle"><em>(Click to Edit)</em></p>
				</div>
				{{#each usersFood}}
				<div class="tile is-child">
					<div class="userDishWrapper">
						<p class="{{food_id}}" style="display:none">1</p>
						<img src="/assets/photos/download.jpg">
						{{!--<img src="{{photoUrl}}">--}}
						<p>Location: <span class="userDishLocation">{{location.dataValues.location_name}}</span></p>
						<p>Menu Item: <span class="userDishMenuName">{{food_name}}</span></p>
						<p>Price: $<span class="userDishPrice">{{price}}</span></p>
						<p>Gluten Free: <span class="userDishGFree">{{gluFree}}</span></p>
						<p>Vegetarian: <span class="userDishVeg">{{veg}}</span></p>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	{{!--End User Dish Display--}}
</div>
{{!--End Main Content Section--}}

<script type="text/javascript" src="/assets/javascript/profile.js"></script>

{{!--Google Places API--}}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMRNMvB_hrPmwoHo_pkOvAfIOI5IMuMsA&libraries=places&callback=placesSearch"></script>

