<body class="Site">
    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <img id="modalImage" alt="Meal Image" width="400" height="400">
            <div id="label" class="has-text-white-bis is-size-4">
                <h4><span id="modalMealName"></span> from <span id="modalRestName">Restaurant Name</span></h4>
                <h4>$<span id="modalPrice">Price</span></h4>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <header class="header">
        <section class="hero has-bg-img">
          <div class="hero-body has-text-centered">
            <div class="container title has-text-light has-text-wight-semibold is-size-3 has-text-centered is-vcentered">
              <h3 id="homeLink">mealCrave. <span><input id="searchInput" class="input" type="text" placeholder="e.g. Chicken Caesar Salad"> <button id="searchSubmit" class="button is-link">Search</button></span></h3>
            </div>
          </div>
        </section>
    </header>
    <br>
    <div id="noResults" class="title is-size-3 has-text-centered">No results match your search.</div>
    <main class="Site-content container">
        <div class="mealPics columns is-multiline has-text-centered">
            {{!--The photo for each result will display with the corresponding data attributes--}}
                {{#each data}}
                <div class="column is-one-third-tablet is-one-quarter-desktop"><img src={{photoUrl}} data-name='{{food_name}}' data-rest='{{location.dataValues.location_name}}' data-price={{price}} data-restid='{{location.dataValues.gps_tag}}' width="200" class="mealImages"></div>
                {{/each}}
        </div>
    </main>
    <script type="text/javascript" src="/assets/javascript/searchResults.js"></script>
</body>